---
import GraphView from "./GraphView";
---

<div class="flex flex-row w-full h-screen text-white">
  <div class="p-4 w-2/3 h-screen">
    <div class="inset-0 border-white border rounded-md w-full h-full">
      <GraphView client:only />
    </div>
  </div><div
    class="flex flex-col justify-center items-center gap-4 p-6 w-1/3 h-screen"
  >
    <h2 class="font-semibold text-xl">My Tech Universe</h2>
    <p class="text-lg">
      Every great developer's journey is shaped by the tools and technologies
      they embrace.
    </p><p class="text-lg">
      This graph represents the ecosystem of knowledge I've cultivated over the
      years - a constellation of frameworks, languages, and approaches that have
      guided me through countless projects.
    </p><p class="text-lg">
      From humble beginnings to mastering cutting-edge innovations, each
      connection tells a story of growth, challenges, and breakthroughs.
    </p>
  </div>
</div>
