---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Test from "./Test";
---

<div id="container">
  <Test client:load />
  <main class="bg-red-500">
    <section id="hero">
      <a href="https://astro.build"
        ><img
          src={astroLogo.src}
          width="115"
          height="48"
          alt="Astro Homepage"
        /></a
      >
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your
        project.
      </h1>
      <section id="links">
        <a class="button" href="https://docs.astro.build">Read our docs</a>
        <a href="https://astro.build/chat">Join our Discord </a>
      </section>
    </section>
  </main>

  <a href="https://astro.build/blog/astro-5/" id="news" class="box">
    <h2>What's New in Astro 5.0?</h2>
    <p>
      From content layers to server islands, click to learn more about the new
      features and improvements in Astro 5.0
    </p>
  </a>
</div>
